{% extends 'main.html'%}

{% block head%}
<title>欢迎</title>
<link rel="stylesheet" href="/static/css/cook.css" />
<link rel="stylesheet" href="/static/css/cook-fix.css" />

{% end %}

{% block body%}


  <div class="w-section left">
    <div class="left-header">
      <h3 class="left-heading">正在做</h3>
    </div>
    <div class="left-content">
      <div class="doing-item">
        <h3 class="doing-item-name">Heading</h3>
        <h6 class="doing-item-num">Heading</h6>
        <div class="doing-item-demand">This is some text inside of a div block.</div><a class="button doing-item-button" href="#">Button Text</a><a class="button doing-item-button-cancel" href="#">Button Text</a>
      </div>
    </div>
  </div>
  <div class="w-section middle"><a class="button button-other" href="javascript:void(0)">...</a>
    <div class="current-item">
      <h2 class="current-item-name">Heading</h2>
      <h4 class="current-item-num">Heading</h4>
      <div class="current-item-demand"></div>
    </div><a class="button current-button-accept" href="javascript:void(0)">接受</a><a class="button current-button-refuse" href="javascript:void(0)">拒绝</a>
  </div>
  <div class="w-section right">
    <div class="right-header">
      <h3 class="right-heading">顺带</h3>
    </div>
    <div class="right-content">
      <div class="byway-item">
        <h3 class="byway-item-name">Heading</h3>
        <h6 class="byway-item-num">Heading</h6>
        <div class="byway-item-demand">This is some text inside of a div block.</div><a class="button byway-item-button" href="#">Button Text</a>
      </div>
    </div>
  </div>
  <script type="text/javascript" src="/static/js/cook-cook-pad.js"></script>


{% end %}