{% extends 'main.html'%}

{% block head%}
<title>欢迎</title>
<link rel="stylesheet" href="../static/css/cook.css" />
<link rel="stylesheet" href="../static/css/cook-fix.css" />

{% end %}

{% block body%}
<a class="button button-other" href="javascript:void(0)">...</a>
<a class="button button-stop" href="javascript:void(0)">停止</a>
<a class="button button-call" href="javascript:void(0)">呼叫</a>
<a class="button button-home" href="javascript:void(0)">个人主页</a>
<script type="text/javascript" src="/static/js/cook-cook-other-pad.js"></script>
{% end %}